a#core_abapstandard_doc img { background-image : url(graphics/picto/abap_standard_doc.svg); }
a#core_abapstandard_exe img { background-image : url(graphics/picto/abap_standard_cs.svg);  }
a#core_abapproject_doc  img { background-image : url(graphics/picto/abap_project_doc.svg);  }
a#core_abapproject_exe  img { background-image : url(graphics/picto/abap_project_cs.svg);   }
a#core_abapsearch_exe   img { background-image : url(graphics/picto/abap_search_cs.svg);    }
