<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.sap.adt.abap.dev.tools.release.notes.ext.internal.AdtReleaseNotesStartup">
      </startup>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            class="com.sap.adt.abap.dev.tools.release.notes.ext.internal.AdtReleaseNotesEditor"
            id="com.sap.adt.docu.release.notes.editor"
            icon="icons/etool/ABAP.png"
            name="%releaseNotesEditorName">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.elementFactories">
	   <factory
	         id="com.sap.adt.docu.ui.AdtReleaseNotesEditorInputPersist"
	         class="com.sap.adt.abap.dev.tools.release.notes.ext.internal.AdtReleaseNotesEditorInputPersist">
	   </factory>
   </extension>

   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/introABAPWhatsnew.xml">
      </configExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.sap.adt.abap.dev.tools.release.notes.ext.internal.SurveyHandler"
            id="com.sap.adt.abap.dev.tools.release.notes.survey"
            name="%surveyCommandName">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:help?after=helpStart">
         <command
               commandId="com.sap.adt.abap.dev.tools.release.notes.survey">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
