<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.sap.adt.cds.ddlx.ui.internal.editors.DdlxSourceEditor"
            contributorClass="com.sap.adt.tools.abapsource.ui.sources.editors.AdtSourceEditorActionBarContributor"
            default="true"
            extensions="apddlxs,asddlxs"
            icon="icons/obj/ddlx_obj.png"
            id="com.sap.adt.cds.ddlx.ui.editors.DdlxSourceEditorInherited"
            matchingStrategy="com.sap.adt.cds.ddlx.ui.internal.editors.DdlxSourceEditorMatchingStrategy"
            name="%editor.name_xmsg">
      </editor>
      <editor
            class="com.sap.adt.cds.ddlx.ui.internal.annotation.propagation.editors.AnnotationPropagation"
            icon="icons/view/annot_propagation_view.png"
            id="com.sap.adt.cds.ddlx.ui.annotation.propagation.Editor"
            matchingStrategy="com.sap.adt.cds.ddlx.ui.internal.annotation.propagation.editors.AnnotationPropagationMatchingStrategy"
            name="%editor.AnnotationPropagation.name_xtxt">
      </editor>
      
   </extension>
   
    <extension
         point="com.sap.adt.tools.core.ui.objectTypes">
      <objectTypeInfoUI
            newWizardId="com.sap.adt.cds.ddlx.ui.newWizards.NewDdlxWizard"
            copyWizard="com.sap.adt.cds.ddlx.ui.internal.wizards.newddlx.CopyDdlxSourceWizard"
            objectTypeInfo="com.sap.adt.cds.ddlx.objectTypeInfo"
            icon="icons/obj/ddlx_obj.png">
      </objectTypeInfoUI>
   </extension>
   
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            category="com.sap.adt.ui.abap/com.sap.adt.ui.cds"
            class="com.sap.adt.cds.ddlx.ui.internal.wizards.newddlx.NewDdlxSourceWizard"
            finalPerspective="com.sap.adt.ui.AbapPerspective"
            hasPages="true"
            icon="icons/etool/newddlx_wiz.png"
            id="com.sap.adt.cds.ddlx.ui.newWizards.NewDdlxWizard"
            name="%wizard.name_xmsg"
            project="false">
         <description>
            %wizard.description_xmsg
         </description>
         <keywordReference
               id="com.sap.adt.cds.ddl.keywords">
         </keywordReference>
      </wizard>
   </extension>  

   	<extension
          point="org.eclipse.compare.streamMergers">
       <streamMerger
             class="com.sap.adt.cds.ddlx.ui.internal.compare.DdlxViewerCreator"
             extensions="ASDDLXS"
             id="com.sap.adt.cds.ddlx.ui.ddlxStreamMerger">
       </streamMerger>
    </extension>
    <extension
          name="%extension.name_xmit"
          point="org.eclipse.compare.contentMergeViewers">
       <viewer
             class="com.sap.adt.cds.ddlx.ui.internal.compare.DdlxViewerCreator"
             extensions="ASDDLXS"
             id="com.sap.adt.cds.ddlx.ui.ViewerCreator"
          >
       </viewer>
    </extension>
    <extension
          point="org.eclipse.compare.contentViewers">
       <viewer
             class="com.sap.adt.cds.ddlx.ui.internal.compare.DdlxViewerCreator"
             extensions="ASDDLXS"
             id="com.sap.adt.cds.ddlx.ui.compare.ContentViewer">
       </viewer>
    </extension>   
    
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.sap.adt.cds.common.ui.preferencePages.CDS"
            class="com.sap.adt.cds.ddlx.ui.internal.templates.DdlxTemplatePreferencePage"
            id="com.sap.adt.cds.ddlx.ui.template.preference.page"
            name="%template.preference.page.ddlx_xgrp">
         <keywordReference
               id="com.sap.adt.cds.ddl.keywords">
         </keywordReference>
      </page>
      <page
          category="com.sap.adt.cds.common.ui.preferencePages.CDS"
          class="com.sap.adt.cds.ddl.ui.internal.preferencepages.DdlPrettyPrinterPreferencePagePropertyListBased"
          id="com.sap.adt.cds.ddl.ui.internal.preferencepages.prettyPrinterPropertyListBased"
          name="%formatter.page.name_xmsg">    
         <keywordReference
               id="com.sap.adt.cds.ddl.keywords">
         </keywordReference>
         <keywordReference
               id="com.sap.adt.sourcecodeeditors.formatter">
         </keywordReference>
      </page>
   </extension>
    
   <extension
         point="org.eclipse.ui.editors.templates">
         
      <contextTypeRegistry
            id="com.sap.adt.cds.ddlx.ui.template.context.type.registry">
      </contextTypeRegistry>
      
      <contextType
            name="%template.context.type.ddlx_xgrp"
            class="com.sap.adt.cds.ddlx.ui.internal.templates.DdlxTemplateContextType"
            id="com.sap.adt.cds.ddlx.ui.template.context.type.ddlx"
            registryId="com.sap.adt.cds.ddlx.ui.template.context.type.registry">
      </contextType>

      <contextType
            name="%template.context.type.ddlx.creation_xgrp"
            class="com.sap.adt.cds.ddlx.ui.internal.templates.DdlxTemplateContextType"
            id="com.sap.adt.cds.ddlx.ui.template.context.type.ddlx.creation"
            registryId="com.sap.adt.cds.ddlx.ui.template.context.type.registry">
      </contextType>
 
      <include
      		file="templates/templates.xml"
      		translations="$nl$/templates/templates.properties">
      </include>
      
  </extension>
  <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="com.sap.adt.tools.abapsource.ui.sources.editors.AdtSourceDocumentSetupParticipant"
            extensions="asddlxs">
      </participant>
   </extension>
   <extension
         point="com.sap.adt.tools.abapsource.ui.checkScheduler">
      <checkScheduler
            extensions="apddlxs"
            scheduler="com.sap.adt.cds.ddlx.ui.internal.editors.DdlxMasterLanguageCheckScheduler">
      </checkScheduler>
   </extension>
   <extension
          point="com.sap.adt.tools.core.ui.quickAssistProcessors">
       <quickAssistProcessor
             class="com.sap.adt.cds.ddlx.ui.internal.quickfix.DdlxSourceQuickAssistProcessor"
             name="com.sap.adt.cds.ddlx.ui.quickfix.DdlxSourceQuickAssistProcessor">
       </quickAssistProcessor>
    </extension>
    <extension
         point="com.sap.adt.cds.ddl.ui.cdsQuickAssistProcessors">
      <cdsQuickAssistProcessor
            class="com.sap.adt.cds.ddlx.ui.internal.quickfix.DdlxSourceQuickAssistProcessor">
      </cdsQuickAssistProcessor>
   </extension>
   <extension
          point="org.eclipse.ui.ide.markerResolution">
       <markerResolutionGenerator
             class="com.sap.adt.cds.ddlx.ui.internal.quickfix.DdlxSourceMarkerResolutionGenerator"
             markerType="com.sap.adt.tools.core.abapSyntaxCheckProblem">
       </markerResolutionGenerator>
       <markerResolutionGenerator
             class="com.sap.adt.cds.ddlx.ui.internal.quickfix.DdlxSourceMarkerResolutionGenerator"
             markerType="com.sap.adt.activation.abapActivationProblem">
       </markerResolutionGenerator>
   </extension>
   <extension
         point="com.sap.adt.docu.ui.languageHelpContentProvider">
      <contentProvider
            class="com.sap.adt.cds.ddlx.ui.internal.docu.DdlxHelpContentProvider">
      </contentProvider>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.sap.adt.cds.ddlx.ui.internal.annotation.propagation.handlers.OpenAnnotationPropagationHandler"
            commandId="com.sap.adt.cds.ddlx.ui.annotation.propagation.show">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="%command.show_annotation_propagation_description_xmsg"
            id="com.sap.adt.cds.ddlx.ui.annotation.propagation.show"
            name="%command.show_annotation_propagation_xmit">
         <commandParameter
               id="adt.tools_com.sap.adt.cds.ddlx.ui.commandParameter.entityName"
               name="%commandParameter.entityName_xmit"
               optional="true">
         </commandParameter>
         <commandParameter
               id="adt.tools_com.sap.adt.cds.ddlx.ui.commandParameter.annotationName"
               name="%commandParameter.annotationName_xmit"
               optional="true">
         </commandParameter>
         <commandParameter
               id="adt.tools_com.sap.adt.cds.ddlx.ui.commandParameter.variantName"
               name="%commandParameter.variantName_xmit"
               optional="true">
         </commandParameter>
         <commandParameter
               id="adt.tools_com.sap.adt.cds.ddlx.ui.commandParameter.elementName"
               name="%commandParameter.elementName_xmit"
               optional="true">
         </commandParameter>
         <commandParameter
               id="adt.tools_com.sap.adt.cds.ddlx.ui.commandParameter.ddlsourceName"
               name="%commandParameter.ddlsourceName_xmit"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">            
      <propertyTester
            class="com.sap.adt.cds.ddlx.ui.internal.internal.propertytesters.EnablementTester"
            id="com.sap.adt.cds.ddlx.ui.EnablementTextSelection"
            namespace="com.sap.adt.cds.ddlx.ui"
            properties="isAnnotationPropagationEnabled"
            type="org.eclipse.jface.text.ITextSelection">
      </propertyTester>
      <propertyTester
            class="com.sap.adt.cds.ddlx.ui.internal.internal.propertytesters.EnablementTester"
            id="com.sap.adt.cds.ddlx.ui.EnablementTreeSelection"
            namespace="com.sap.adt.cds.ddlx.ui"
            properties="isAnnotationPropagationEnabled"
            type="org.eclipse.jface.viewers.ITreeSelection">
      </propertyTester>  
   </extension>
   <extension
         point="com.sap.adt.tools.core.base.plainTextPositionResolver">
      <plainTextPositionResolver
            class="com.sap.adt.cds.ddlx.ui.internal.navigation.DdlxSourceSemanticPositionResolver"
            resourceUriPattern="/sap/bc/adt/ddic/ddlx/sources/[%\w_/]+/source/main#name=.+">
      </plainTextPositionResolver>
   </extension>   
   <extension
         point="org.eclipse.ui.menus">
         <menuContribution
            allPopups="true"
            class="com.sap.adt.cds.ddlx.ui.internal.extractannotations.SourceMenuContributionFactory"
            locationURI="menu:com.sap.adt.tools.abapsource.ui.source?after=com.sap.adt.tools.core.ui.extract.method">
      </menuContribution>
   </extension>
   <extension
         point="com.sap.adt.tools.core.ui.openWithMenuContribution">
      <openWithMenuContribution
            class="com.sap.adt.cds.ddlx.ui.internal.handlers.DdlxOpenWithMenuContributionFactory"
            priority="50">
      </openWithMenuContribution>
   </extension>
   <extension
         id="id1"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="always"
            uri="fragment.e4xmi">
      </fragment>
   </extension>
</plugin>
